page-login {
        
        $transparent-white: rgba(255, 255, 255, .6);
        // This is just to make the header transparent and button/icon with white color
        .toolbar-content,
        span {
          color: white;
        }
        .toolbar-background,
        ion-navbar,
        ion-header {
          background: transparent !important;
          background-color: transparent !important;
          border: none !important;
        }
        .header-md::after,
        .toolbar-background-ios {
          background-image: none;
          border-bottom: 0;
        }

        .marginT{
            margin-top:120px !important;
        }
       
        
        // Fullscreen animated rainbow gradient
        ion-content {
            background: linear-gradient(316deg,#f1c40f,#f1c40f);
            background-size: 1800% 1800%;
            animation: rainbow 30s linear infinite;
        }

        
        
        // Content
        .scroll-content {
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }
        .logo {
          width: 50%;
          height: auto;
          margin: 0 auto;
          padding-top: 50px;
        }
        // Input items
        ion-item {
          border-radius: 3px !important;
          padding-left: 10px !important;
          margin-bottom: 15px !important;
          margin-bottom: 10px;
          color: #fff !important;
          background-color: rgba(255, 255, 255, .2) !important;
          font-size: 0.9em;
        }
         ::-webkit-input-placeholder {
          color: white !important;
        }
        .item-inner {
          border-bottom: 0 !important;
          box-shadow: none !important;
        }
        // --
        .login-button {
          text-transform: none;
          border-radius: 3px !important;
        }
    }