page-payment-manual {

        .logo {
          width: 50%;
          height: auto;
          margin: 0 auto;
          padding-top: 70px;
    
        }
    
        .avatar{
    
          border-radius: 50% !important;
        }
        // Input items
        ion-item {
          border-radius: 3px !important;
          padding-left: 10px !important;
          margin-bottom: 15px !important;
          margin-bottom: 10px;
          border: 1px #f1c40f solid !important;
          color: #f1c40f !important;
          font-size: 0.9em;
        }
         ::-webkit-input-placeholder {
          color: #f1c40f !important;
          text-align:center;
        }
        .item-inner {
          border-bottom: 0 !important;
          box-shadow: none !important;
        }
        // --
        .login-button {
          text-transform: none;
          border-radius: 3px !important;
          color:#f1c40f;
        }
    
    
        .marginT{
            margin-top:50px;
        }

        .textw{
            color:#fff;
        }



          
      }
      
    