page-scanning {
    $transparent-white: rgba(255, 255, 255, .6);
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    span {
      color: white;
    }
    .toolbar-background,
    ion-navbar,
    ion-header {
      background: transparent !important;
      background-color: transparent !important;
      border: none !important;
    }
    .header-md::after,
    .toolbar-background-ios {
      background-image: none;
      border-bottom: 1 #ffffff;
    }

    ion-content {
        background-image:url('../assets/imgs/bg1.jpg');
        background-size: cover;
        background-repeat:none; 
    }

  

    .smallText{
        font-size: 8px;
        line-height: 20px;
        line-break: strict;
    }
  
    .emptySpace{
        height: 5% !important;
    }

    .marginT{
        margin-top:10px;
    }

    .marginT1{
        margin-top:20px;
    }

    .textw{
        color:#fff !important;
    }

    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
      }
      .strike>span {
        position: relative;
        display: inline-block;
        font-weight: bold;
      }
      .strike>span:before,
      .strike>span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background-color:#fff;
      }
      .strike>span:before {
        right: 100%;
        margin-right: 15px;
      }
      .strike>span:after {
        left: 100%;
        margin-left: 15px;
      }


}
