page-scanning {

     ion-content {
        background-color: #ecf0f1;
        background-size: 1800% 1800%;
        animation: rainbow 30s linear infinite;
      }
      @keyframes rainbow {
        0% {
          background-position: 0% 0%
        }
        50% {
          background-position: 100% 100%
        }
        100% {
          background-position: 0% 0%
        }
      }
      // Content

    .smallText{
        font-size: 8px;
        line-height: 20px;
        line-break: strict;
    }
  
    .emptySpace{
        height: 5% !important;
    }

}
