page-scanning {
    $transparent-white: rgba(255, 255, 255, .6);
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    span {
      color: white;
    }

     

    .smallText{
        font-size: 8px;
        line-height: 20px;
        line-break: strict;
    }
  
    .emptySpace{
        height: 5% !important;
    }

    .marginT{
        margin-top:10px;
    }

    .marginT1{
        margin-top:20px;
    }

    .textw{
        color:#fff !important;
    }

    .textb{
      color:#000 !important;
    }

    .textMain{
      color:#f1c40f !important;
  }

    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
      }
      .strike>span {
        position: relative;
        display: inline-block;
        font-weight: bold;
      }
      .strike>span:before,
      .strike>span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background-color:#f1c40f;
      }
      .strike>span:before {
        right: 100%;
        margin-right: 15px;
      }
      .strike>span:after {
        left: 100%;
        margin-left: 15px;
      }

     
}
