page-home {
    #profile-image {
        display: block;
        border-radius: 50%;
        width: auto;
        height: 70px;
        margin: 0 auto 0;
        margin-bottom: -12px;
    }
    #profile-info {
       margin-top: 75px;
       margin-bottom: 75px;
    }
    #profile-name {
        color: #444;
        font-size: 16px;
        font-weight: 600;
    }
    .mybtn{
        background: #2D7DFF;
        border-radius: 8px;
        font-size: 14px;
        color: #fff;
        text-transform: initial;
        
        
      
    }

    .mybtn ion-icon{
        font-size: 24px;
        padding-right: 15px;
        float: left;
 
    }
}
