page-home {
<<<<<<< HEAD
   
    ion-content {
        background: linear-gradient(316deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-size: 1800% 1800%;
        animation: rainbow 30s linear infinite;
      }
      @keyframes rainbow {
        0% {
          background-position: 0% 0%
        }
        50% {
          background-position: 100% 100%
        }
        100% {
          background-position: 0% 0%
        }
      }
      // Content

    .logo {
        width: 75%;
        height: auto;
        margin: 0 auto;
        padding-top: 50px;
      }
    
    .btn1 {
        -webkit-text-fill-color: white;
        border: 1px white solid;
        border-radius: 25px;
    }

    .marginT{
        margin-top:40px !important;
    }

    .textw{
        color:#fff;
    }

    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
      }
      .strike>span {
        position: relative;
        display: inline-block;
        font-weight: bold;
      }
      .strike>span:before,
      .strike>span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background-color:#fff;
      }
      .strike>span:before {
        right: 100%;
        margin-right: 15px;
      }
      .strike>span:after {
        left: 100%;
        margin-left: 15px;
      }

    
=======
    #profile-image {
        display: block;
        border-radius: 50%;
        width: auto;
        height: 70px;
        margin: 0 auto 0;
        margin-bottom: -12px;
    }
    #profile-info {
       margin-top: 75px;
       margin-bottom: 75px;
    }
    #profile-name {
        color: #444;
        font-size: 16px;
        font-weight: 600;
    }
    .mybtn{
        background: #2D7DFF;
        border-radius: 8px;
        font-size: 14px;
        color: #fff;
        text-transform: initial;
        
        
      
    }
>>>>>>> 18e429d8230f3cf460604d99b4b1c4db75d145b5

    .mybtn ion-icon{
        font-size: 24px;
        padding-right: 15px;
        float: left;
 
    }
}
